In [4]:
df <- read.csv('knn1_csv.csv')
df

   sno x   y   class
1   1  0.8 0.8 1
2   2  1.0 1.0 1
3   3  1.2 0.8 1
4   4  0.8 1.2 1
5   5  1.2 1.2 1
6   6  4.0 3.0 2
7   7  3.8 2.8 2
8   8  4.2 2.8 2
9   9  3.8 3.2 2
10 10  4.2 3.2 2
11 11  4.4 2.8 2
12 12  4.4 3.2 2
13 13  3.2 0.4 3
14 14  3.2 0.7 3
15 15  3.8 0.5 3
16 16  3.5 1.0 3
17 17  4.0 1.0 3
18 18  4.0 0.7 3

In [5]:
x <- 3
y <- 2
dist <- sqrt((x - df$x)**2 + (y - df$y)**2)
df <- cbind(df, dist)
df

   sno x   y   class dist
1   1  0.8 0.8 1     2.505993
2   2  1.0 1.0 1     2.236068
3   3  1.2 0.8 1     2.163331
4   4  0.8 1.2 1     2.340940
5   5  1.2 1.2 1     1.969772
6   6  4.0 3.0 2     1.414214
7   7  3.8 2.8 2     1.131371
8   8  4.2 2.8 2     1.442221
9   9  3.8 3.2 2     1.442221
10 10  4.2 3.2 2     1.697056
11 11  4.4 2.8 2     1.612452
12 12  4.4 3.2 2     1.843909
13 13  3.2 0.4 3     1.612452
14 14  3.2 0.7 3     1.315295
15 15  3.8 0.5 3     1.700000
16 16  3.5 1.0 3     1.118034
17 17  4.0 1.0 3     1.414214
18 18  4.0 0.7 3     1.640122

In [6]:
df <- df[order(df$dist),]
df

   sno x   y   class dist
16 16  3.5 1.0 3     1.118034
7   7  3.8 2.8 2     1.131371
14 14  3.2 0.7 3     1.315295
6   6  4.0 3.0 2     1.414214
17 17  4.0 1.0 3     1.414214
8   8  4.2 2.8 2     1.442221
9   9  3.8 3.2 2     1.442221
11 11  4.4 2.8 2     1.612452
13 13  3.2 0.4 3     1.612452
18 18  4.0 0.7 3     1.640122
10 10  4.2 3.2 2     1.697056
15 15  3.8 0.5 3     1.700000
12 12  4.4 3.2 2     1.843909
5   5  1.2 1.2 1     1.969772
3   3  1.2 0.8 1     2.163331
2   2  1.0 1.0 1     2.236068
4   4  0.8 1.2 1     2.340940
1   1  0.8 0.8 1     2.505993

In [8]:
# NN
cat("\nclass of P for NN is:", df[1,4])

# KNN k = 5
df1 <- df[1:5,]
l1 <- sum(df1$class == 1)
l2 <- sum(df1$class == 2)
l3 <- sum(df1$class == 3)

if(l3>l1 & l3>l2){
	cat("\nclass of P for KNN(k=5) is:", l3)
}
if(l2>l1 & l2>l3){
	cat("\nclass of P for KNN(k=5) is:", l2)
}
if(l1>l2 & l1>l3){
	cat("\nclass of P for KNN(k=5) is:", l1)
}


# KNN k = 7
df2 <- df[1:7,]
l11 <- sum(df2$class == 1)
l22<- sum(df2$class == 2)
l33 <- sum(df2$class == 3)

if(l33>l11 & l33>l22){
	cat("\nclass of P for KNN(k=7) is:", l3)
}
if(l22>l11 & l22>l33){
	cat("\nclass of P for KNN(k=7) is:", l2)
}
if(l11>l22 & l11>l33){
	cat("\nclass of P for KNN(k=7) is:", l1)
}

# RNN (r = 1.45)
df3 <- df[df$dist < 1.45, ]
l111 <- sum(df2$class == 1)
l222 <- sum(df2$class == 2)
l333 <- sum(df2$class == 3)

if(l333>l111 & l333>l222){
	cat("\nclass of P for RNN is:", l3)
}
if(l222>l111 & l222>l333){
	cat("\nclass of P for RNN is:", l2)
}
if(l111>l222 & l111>l333){
	cat("\nclass of P for RNN is:", l1)
}

# MKNN (k = 5)
dk <- max(df$dist[1:5])

d_1 <- df$dist[1]

weight <- (dk - df$dist) / (dk - d_1)

df <- cbind(df, weight)

new_df <- head(df, 5)

wc1 <- sum(new_df$weight[new_df$class == 1])
wc2 <- sum(new_df$weight[new_df$class == 2])
wc3 <- sum(new_df$weight[new_df$class == 3])

cat("\nTotal weight for class 1:", wc1, "\nTotal weight for class 2:", wc2, "\nTotal weight for class 3:", wc3)

if (wc3 > wc2 & wc3 > wc1) {
	cat("\nTherefore class of P for MKNN(k=5) is: 3")
} else if (wc2 > wc1 & wc2 > wc3) {
	cat("\nTherefore class of P for MKNN(k=5) is: 2")
} else {
	cat("\nTherefore class of P for MKNN(k=5) is: 1")
}

class of P for NN is: 3

class of P for KNN(k=5) is: 3
class of P for KNN(k=7) is: 2
class of P for RNN is: 2
Total weight for class 1: 0
Total weight for class 2: 0.9549704
Total weight for class 3: 1.333983
Therefore class of P for MKNN(k=5) is: 3